<html>
  <head>
    <title>Potin numéro <%= id%></title>
  </head>
  <body>
    <h1>Le potin numéro <%= id%> est le suivant :</h1>
     <p>Auteur : <%= gossip.author%></p>
     <p>Potin : <%= gossip.content%></p></br>
     <a href="/gossips/<%= id%>/edit/">Editer le potin</a></br>
     <a href="/">Retourner à l'accueil</a>
  </body>
</html>